/* regole flex */

.flex {
  display: flex;
}

.flex_wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_col_rev {
  display: flex;
  flex-direction: column-reverse;
}

.just_start {
  justify-content: flex-start;
}

.just_cen {
  justify-content: center;
}

.just_end {
  justify-content: flex-end;
}

.space_bet {
  justify-content: space-between;
}

.align_cen {
  align-items: center;
}

.align_end {
  align-items: flex-end;
}

header .blue_stripe {
  height: 25px;
  width: 100%;
  color: white;
  background-color: #0c7cec;
}

header .blue_stripe .container {
  height: 25px;
  text-transform: uppercase;
}

header .blue_stripe .container span {
  margin-left: 50px;
  font-size: 10px;
}

header nav {
  width: 100%;
}

header nav .container {
  padding-top: 3px;
}

header nav .container .logo {
  height: 70px;
  width: 70px;
}

header nav .container .logo img {
  height: 100%;
  width: 100%;
}

header nav .container ul li {
  margin: 0 10px;
  padding: 35px 0;
  font-size: 13px;
  text-transform: uppercase;
  border-bottom: solid 3px white;
}

header nav .container ul li:hover {
  color: #0c7cec;
  border-bottom: solid 3px #0c7cec;
}

header nav .container .search {
  border-bottom: solid 3px #0c7cec;
}

header nav .container .search input {
  width: 100px;
  padding-left: 40px;
  border: none;
}

header nav .container .search input:focus {
  outline: none;
}

main .jumbotron {
  height: 300px;
  width: 100%;
  overflow: hidden;
}

main .jumbotron img {
  height: 700px;
  width: 100%;
}

main #cards {
  background-color: black;
}

main #cards h2 {
  display: inline;
  top: 0;
  left: 0;
  transform: translate(-10px, -50%);
  padding: 10px 25px;
  text-transform: uppercase;
  color: white;
  background-color: #0c7cec;
}

main #cards .card_container .card {
  margin: 40px 0 10px;
  width: 16%;
  color: white;
}

main #cards .card_container .card .thumb {
  margin-bottom: 10px;
  height: 140px;
  width: 100%;
  overflow: hidden;
}

main #cards .card_container .card .thumb img {
  height: auto;
  width: 100%;
}

main #cards .card_container .card p {
  text-transform: uppercase;
}

main #cards .more {
  height: 70px;
  width: 100%;
}

main #cards .more .btn {
  padding: 10px 45px;
  color: white;
  background-color: #0c7cec;
  text-transform: uppercase;
  border: none;
}

main #big_stripe {
  color: white;
  background-color: #0c7cec;
}

main #big_stripe .container {
  height: 120px;
}

main #big_stripe .container ul {
  width: 100%;
}

main #big_stripe .container ul li img {
  margin-right: 15px;
  height: 50px;
}

main #big_stripe .container ul li:last-of-type img {
  height: 35px;
}

footer {
  color: white;
  background-image: url("/storage/assets/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

footer div[class*=column] {
  margin-right: 15px;
}

footer div[class*=column] h2 {
  margin: 25px 0 15px;
  font-size: 18px;
  text-transform: uppercase;
}

footer div[class*=column] ul li {
  opacity: 0.5;
  margin-bottom: 5px;
  font-size: 14px;
}

footer .big_dc {
  height: 500px;
  width: 500px;
  right: 0;
  top: -40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

