/* regole flex */

.flex {
  display: flex;
}

.flex_wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_col_rev {
  display: flex;
  flex-direction: column-reverse;
}

.just_start {
  justify-content: flex-start;
}

.just_cen {
  justify-content: center;
}

.just_end {
  justify-content: flex-end;
}

.space_bet {
  justify-content: space-between;
}

.align_cen {
  align-items: center;
}

.align_end {
  align-items: flex-end;
}

header .blue_stripe {
  height: 25px;
  width: 100%;
  color: white;
  background-color: #0c7cec;
}

header .blue_stripe .container {
  height: 25px;
  text-transform: uppercase;
}

header .blue_stripe .container span {
  margin-left: 50px;
  font-size: 10px;
}

header nav {
  width: 100%;
}

header nav .container {
  padding-top: 3px;
}

header nav .container .logo {
  height: 70px;
  width: 70px;
}

header nav .container .logo img {
  height: 100%;
  width: 100%;
}

header nav .container ul li {
  margin: 0 10px;
  padding: 35px 0;
  font-size: 13px;
  text-transform: uppercase;
  border-bottom: solid 3px white;
}

header nav .container ul li:hover {
  color: #0c7cec;
  border-bottom: solid 3px #0c7cec;
}

header nav .container .search {
  border-bottom: solid 3px #0c7cec;
}

header nav .container .search input {
  width: 100px;
  padding-left: 40px;
  border: none;
}

header nav .container .search input:focus {
  outline: none;
}

header .jumbotron {
  height: 300px;
  width: 100%;
  overflow: hidden;
}

header .jumbotron img {
  height: 700px;
  width: 100%;
}

main #cards {
  background-color: black;
}

main #cards h2 {
  display: inline;
  top: 0;
  left: 0;
  transform: translate(-10px, -50%);
  padding: 10px 25px;
  text-transform: uppercase;
  color: white;
  background-color: #0c7cec;
}

main #cards .card_container a {
  width: 16%;
}

main #cards .card_container .card {
  margin: 40px 0 10px;
  width: 100%;
  color: white;
}

main #cards .card_container .card .thumb {
  margin-bottom: 10px;
  height: 140px;
  width: 100%;
  overflow: hidden;
}

main #cards .card_container .card .thumb img {
  height: auto;
  width: 100%;
}

main #cards .card_container .card p {
  padding: 0 5px;
  font-size: 14px;
  text-transform: uppercase;
}

main #cards .more {
  height: 70px;
  width: 100%;
}

main #cards .more .btn {
  padding: 10px 45px;
  color: white;
  background-color: #0c7cec;
  text-transform: uppercase;
  border: none;
}

main #big_stripe {
  color: white;
  background-color: #0c7cec;
}

main #big_stripe .container {
  height: 120px;
}

main #big_stripe .container ul {
  width: 100%;
}

main #big_stripe .container ul li img {
  margin-right: 15px;
  height: 50px;
}

main #big_stripe .container ul li:last-of-type img {
  height: 35px;
}

#comic .container {
  width: 60%;
  margin: auto;
}

#comic .blue_head {
  height: 60px;
  width: 100%;
  background-color: #0c7cec;
}

#comic .blue_head .container {
  height: 100%;
}

#comic .blue_head .comic_thumb {
  left: 0;
  bottom: 10px;
}

#comic .blue_head .comic_thumb img {
  width: 150px;
}

#comic #comic_features {
  margin-top: 50px;
  margin-bottom: 50px;
}

#comic #comic_features .left {
  width: 65%;
  margin-right: 20px;
}

#comic #comic_features .left h1 {
  font-size: 22px;
  text-transform: uppercase;
}

#comic #comic_features .left .green_bar {
  width: 100%;
  font-size: 13px;
  color: white;
  background-color: #00ae21;
  border-bottom: 1px solid black;
}

#comic #comic_features .left .green_bar .usprice {
  padding: 15px 20px;
  width: 70%;
  border-right: solid 1px black;
}

#comic #comic_features .left .green_bar .usprice p {
  opacity: 0.6;
}

#comic #comic_features .left .green_bar .usprice span {
  opacity: 1;
}

#comic #comic_features .left .green_bar .check {
  padding: 15px 20px;
  cursor: pointer;
}

#comic #comic_features .left .description {
  margin-top: 5px;
  font-size: 13px;
  color: #3e3e3e;
}

#comic #comic_features .left .description p {
  letter-spacing: 1px;
  line-height: 20px;
}

#comic #comic_features .right {
  width: 30%;
}

#comic #comic_features .right h3 {
  font-size: 16px;
  text-transform: uppercase;
  text-align: end;
}

#comic #comic_features .right img {
  width: 100%;
}

#comic #specs {
  padding: 20px 0 40px;
  width: 100%;
  background-color: #dedede;
  border-top: 1px solid #a3a3a3;
}

#comic #specs .left,
#comic #specs .right {
  width: 50%;
}

#comic #specs .left h2,
#comic #specs .right h2 {
  font-size: 18px;
}

#comic #specs .left h4,
#comic #specs .right h4 {
  font-size: 14px;
}

#comic #specs .left ul,
#comic #specs .right ul {
  width: 100%;
}

#comic #specs .left ul li,
#comic #specs .right ul li {
  margin: 15px;
  border-bottom: solid 1px grey;
}

#comic #specs .left ul li .spec_li,
#comic #specs .right ul li .spec_li {
  width: 100%;
}

#comic #specs .left ul li .spec_li .titles,
#comic #specs .right ul li .spec_li .titles {
  width: 30%;
}

#comic #specs .left ul li .spec_li .cont,
#comic #specs .right ul li .spec_li .cont {
  width: 70%;
  font-size: 14px;
  color: #0c7cec;
}

footer {
  padding-bottom: 30px;
  color: white;
  background-image: url("/storage/assets/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

footer div[class*=column] {
  margin-right: 15px;
}

footer div[class*=column] h2 {
  margin: 25px 0 15px;
  font-size: 18px;
  text-transform: uppercase;
}

footer div[class*=column] ul li {
  opacity: 0.5;
  margin-bottom: 5px;
  font-size: 14px;
}

footer .big_dc {
  height: 500px;
  width: 500px;
  right: 0;
  top: -40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

